
h1 {
    font-family: arial, helvetica, serif;
    font-size: 2em;
}

a {
    font-family: arial, helvetica, serif;
    font-size: 1em;
    color: #059EF0;
    text-decoration: none;
}

a:hover {
    font-family: arial, helvetica, serif;
    font-size: 1em;
    color: #059EF0;
    font-weight: bold;
}

ul {
    list-style: none;
    line-height: 1.5;
    font-family: arial, helvetica, serif;
    font-size: 1em;
    color: #000000;
    text-decoration: none;
}